<html>
<heaD>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="WebContent/css/footer.css" rel="stylesheet"></link>
</heaD>
<body>

	<div class="bigpixi-footer-social">
		<ul>
			<li class="bigpixi-footer-social__list-item"><a
				class="bigpixi-footer__icon-link" rel="nofollow"
				href="https://twitter.com/"> <img
					class="bigpixi-footer-social__icon" alt="Twitter" title="Twitter"
					src="http://simpleicons.org/icons/twitter.svg">
			</a></li>
			<li class="bigpixi-footer-social__list-item"><a
				class="bigpixi-footer__icon-link" rel="nofollow"
				href="https://www.facebook.com/"> <img
					class="bigpixi-footer-social__icon" alt="Facebook" title="Facebook"
					src="http://simpleicons.org/icons/facebook.svg">
			</a></li>
			<li class="bigpixi-footer-social__list-item"><a
				class="bigpixi-footer__icon-link" rel="nofollow"
				href="https://www.youtube.com/"> <img
					class="bigpixi-footer-social__icon" alt="YouTube" title="YouTube"
					src="http://simpleicons.org/icons/youtube.svg">
			</a></li>
			<li class="bigpixi-footer-social__list-item"><a
				class="bigpixi-footer__icon-link" rel="nofollow"
				href="https://www.instagram.com/"> <img
					class="bigpixi-footer-social__icon" alt="Instagram"
					title="Instagram" src="http://simpleicons.org/icons/instagram.svg">
			</a></li>
			<li class="bigpixi-footer-social__list-item"><a
				class="bigpixi-footer__icon-link" rel="nofollow"
				href="https://www.pinterest.com/"> <img
					class="bigpixi-footer-social__icon" alt="Pinterest"
					title="Pinterest" src="http://simpleicons.org/icons/pinterest.svg">
			</a></li>
		</ul>
	</div>

</body>
</html>